
th {
    color:white;/*文字色*/
    background: #FF9800;/*背景色*/	
}

tr {
    border-bottom-color: #FF9800;/*背景色*/	
    border-bottom-style: solid;
    border-bottom-width: 1px;
    align-items: center;
}

td{
    height: 40px;
    padding: 5px 5px;
    vertical-align: top;
}

table {
    width:800px
}

.btn-user-delete{
    visibility: hidden;
}